*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
#full{
    display: flex;
    height: 200%;
    flex-direction: row;
    background: #000000;
    justify-content: space-between;
}
nav >p{
    color: rgb(200,0,0);
    font-size: 0.75em;
    font-weight: bolder;
}
nav{
    display: flex;
    align-items: center;
    font-size: 0.75em;
    margin-left: 5%;
    gap: 1.5%;
    width: 75%;
}
a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    color: rgb(200,0,0);
}
#right{
    width: 25%;
    height: 100%;
    gap: 2%;
    display: flex;
    justify-content: center;
    color: #ffffff;
    margin-right: 5%;
    font-size: 0.75em;
}
#covid{
    background: rgb(150, 0,0);
    font-size: 0.75em;
    border-radius: 3px;
    padding: 3px;
}
#covid:hover{
    color: #ffffff;
    background: rgb(300,0,0);
}
img{
    width: 12px;
    padding-top: 3%;
}
@media only screen and (max-width: 992px) {
   nav{
    display: none;
   }
   .tog{
    display : flex;
    justify-content : center;
   }
   #right{
    width: 100%;
    justify-content: center;
    gap: .3%;
   }
  }